# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
packages

# User-specific files
*.suo
*.user
*.sln.docstates
*.schemaview
*GhostDoc.xml

# Visual Studio cache/options directory
.vs/

# Build results
[Dd]ebug/
[Rr]elease/